.typing-challenge-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.details-container {
  display: flex;
  flex-direction: row;
}
.typewriter-container {
  display: flex;
  flex-grow: 1;
}
